  <h1>Personnal Details</h1>
  <p>Fill in the employee information below, so we can create the onboarding process</p>
  <div id="form-employee-edit">
    <%= simple_form_for @user do |f| %>
    <table>

<h5>Tell to your colleagues what you enjoy after work</h5>
    <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                    <%= f.input :hobby_1, label: 'Hobby 1' %>
                    </div>
                    <div class="col">
                        <%= f.input :hobby_2, label: 'Hobby 2' %>
                    </div>
                        <div class="col">
                        <%= f.input :hobby_3, label: 'Hobby 3' %>
                    </div>
                </div>

      <%= f.input :description, as: :trix_editor, label: 'Tell us more about you' %>
      <%= f.input :linkedin_url, label: 'Linkedin Url' %>
           <tr>
      <%= f.input :avatar, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-fill'}, label: 'ðŸ“ Upload a fill' %> </tr>
      <%= f.button :submit, value: "Submit", class:"btn-green" %>
    <% end %>
    </table>
  </div>



