  <div id="user-edit" class="sidebar-id"></div>
  <div class='title-div'>
    <h2>Profile information</h2>
  </div>
  <p>Complete the information below to create your profile</p>
  <div id="form-employee-edit">
    <%= simple_form_for @user do |f| %>
    <table>
    <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                    <%= f.input :hobby_1, label: 'Hobby 1' %>
                    </div>
                    <div class="col">
                        <%= f.input :hobby_2, label: 'Hobby 2' %>
                    </div>
                        <div class="col">
                        <%= f.input :hobby_3, label: 'Hobby 3' %>
                    </div>
                </div>
      <%= f.input :description, as: :text, label: 'Tell us more about you' %>

      <%= f.input :linkedin_url, label: 'Linkedin Url' %>
           <tr>
      <%= f.input :avatar, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-fill'}, label: 'ðŸ“ Upload your avatar' %> </tr>
      <%= f.button :submit, value: "Submit", class:"btn-green" %>
    <% end %>
    </table>
  </div>

