<div class="container">
  <div class="presentation">
    <div class="cardside">
      <div class="card">
        <p class="ttitle"><%= @user.job_title %> </p>
        <center> <%= cl_image_tag @current_user.photo, height: 300, width: 400, crop: :fill, class:"avatar-extra-large" %> </center>

        <h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
        <h4> <%= @user.location %></h4>
        <div class="socialcontainer">
          <center>
            <table>
              <tr>
                <td><h4 href="#"> <i class="fa fa-dribbble"></i> </h4></td>
                <td><h4 href="#"> <i class="fa fa-twitter"></i> </h4></td>
                <td><h4 href="#"><i class="fa fa-linkedin"></i> </h4></td>
                <td><h4 href="#"> <i class="fa fa-facebook"></i> </h4></td>
              </tr>
            </table>
          </center>
        </div>
        <br>
        <p><button class="buttoncard">Contact</button></p>
      </div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde est dolorem sequi commodi nesciunt repellendus possimus consequuntur cupiditate, soluta ipsum, in non? Eos qui eveniet dignissimos. Perspiciatis est cupiditate, ullam.
    </div>

    <div class="hobbyside">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi porro atque architecto in consectetur laboriosam possimus qui deserunt, iusto maiores sint. Odio temporibus tempora voluptate autem quo expedita, distinctio repellendus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vitae ducimus, cum, libero assumenda amet laboriosam! Accusamus veniam deleniti consequuntur, at quaerat, accusantium. Laboriosam saepe nesciunt voluptate a! Similique, suscipit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint soluta excepturi magnam dolore aspernatur officia, voluptatum sed ipsum qui odio mollitia officiis in illo voluptate quos odit expedita eveniet error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi necessitatibus ipsum exercitationem et hic vel libero, sint repudiandae, fugit reiciendis facilis possimus distinctio ut optio! Voluptatem suscipit, laboriosam eos impedit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat </p>
      <%= @user.email %>
      <%= @user.phone_number %>
      <%= @user.linkedin_url %>
      <%= @user.slack_account %>
      <%= @user.time_zone %>
      <%= @user.department %>
      <%= @user.team_id %>
      <%= @user.hierarchy_rank_id %>
      <%= @user.contract_status %>
      <%= @user.contract_pdf %>
      <%= @user.hobby_1 %>
      <%= @user.hobby_2 %>
      <%= @user.hobby_3 %>
      <%= @user.company_id %>
      <%= @user.arrival_at %>
    </div>
  </div>
</div>
