 <div class="container-show">
  <div class="card-white" id="introduction">

    <div class="employee-team-head">

      <div class="avatar-buddy">
        <% if @user.avatar.url.nil? %>
            <img class="avatar-extra-large-show" src="https://fpcambler.org/wp-content/themes/church-emphasis/assets/dist/img/default-avatar.jpg">
        <% else %>
            <img class="avatar-extra-large-show" src="<%= cl_image_path @user.avatar %>">
        <% end %>
      </div>

      <div class="employee-info">
        <h4>
          <%= @user.first_name %> <%= @user.last_name %>
        </h4>
        <p>
          <%= @user.team.name %>
        </p>
        <p> <i class="fas fa-map-marker-alt"></i>
          <%= @user.location.split(", ")[0];%>
      </div>

    </div>

      <div class="line-img"> </center>
        <br>
        <p> <span>"</span> <%= raw @user.description %> <span>"</span> </p>
          <center>
            <div class="hobbies">
              <h5> What I 💜 to do?</h5>

              <ul>
                <li><p>- <%= @user.hobby_1 %></p></li>
                <li><p>- <%= @user.hobby_2 %></p></li>
                <li><p>- <%= @user.hobby_3 %></p></li>
              </ul>
            </div>
          </center>

        <p>Working hours in common:</p>
  <div class="time-bar">
    <div class="progress">
      <% if current_user.matchingtimezone(@user).first == current_user.matchingtimezone(@user).last %>
      <div class="progress-warning" role="progressbar" style="width:100%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">No match found</div>
    <% else %>
      <div class="progress-warning" role="progressbar" style="width:<%=  ((100 / 14).to_f * (current_user.matchingtimezone(@user).first - 7)) %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <% if current_user.matchingtimezone(@user).first < 13 %>
      <p style="font-size: 12px; margin-right: 10px"> <%= current_user.matchingtimezone(@user).first %> am</p>
      <% else %>
      <p style="font-size: 12px; margin-right: 10px"> <%= current_user.matchingtimezone(@user).first - 12 %> pm</p>
      <% end %>
      <div class="progress-bar bg-warning" role="progressbar" style="width: <%= ((100 / 14).to_f * (current_user.matchingtimezone(@user).last)-7) - ((100 / 14).to_f * (current_user.matchingtimezone(@user).first)-7) %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <% if current_user.matchingtimezone(@user).last < 13 %>
     <p style="font-size: 12px; margin-left: 10px"> <%= current_user.matchingtimezone(@user).last %> am</p>
      <% else %>
     <p style="font-size: 12px; margin-left: 10px"> <%= current_user.matchingtimezone(@user).last - 12  %> pm</p>
      <% end %>
      <% end %>
    </div>

  </div>
  </div>
<a href="<%= @user.corporate_mail %>" class="btn-green">Contact me</a>
    </div>

    <br>

    <center>
      <%= link_to "Back", :back, class: "btn-back"  %>
    </center>
    </div>
<br><br>



