<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky" id="navbar-white">
  <a class="navbar-brand" href="/">
    <%= image_tag "logo-blanc.png" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-center">
        <% if current_user.nil? %>
          <a href="<%= user_session_path %>">LOG IN</a>
          <a href="#">SIGN UP</a>
        <% else %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= current_user.avatar %>" />
          <%= cl_image_tag @current_user.photo, height: 300, width: 400, crop: :fill, class:"avatar" class: "dropdown-toggle" id:"navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
        </div>
        <% end %>
      </div>
    </ul>
  </div>
</div>
