
    <div class="sidebar">
        <div class="user-infos">
          <img class="avatar-large dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.avatar %>" >
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
        </div>
          <p> <%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>

        <div class="onboarding-step">
            <ul>
                <a href=" <%= company_path(current_user.company) %> ">
                    <p>
                        <li> <i class="fab fa-slack-hash"></i>Discover the company</li>
                    </p>
                </a>
                <a href=" <%= edit_user_path(current_user.id) %> ">
                    <p>
                        <li><i class="fab fa-slack-hash"></i>Personal informations</li>
                    </p>
                </a>
                <a href="<%= users_path %>">
                    <p>
                        <li><i class="fas fa-lock"></i>Meet your colleagues</li>
                    </p>
                </a>
                <a href="">
                    <p>
                        <li><i class="fas fa-lock"></i>Documents</li>
                    </p>
                </a>
            </ul>
        </div>
  </div>
