
<h2>Manage your onboarding</h2>


  <% @employees.each do |employee| %>
<div class="card-product">

  <% if employee.avatar.url.nil? %>
              <img id="avatar-large-index" src="https://fpcambler.org/wp-content/themes/church-emphasis/assets/dist/img/default-avatar.jpg" >
            <% else %>
              <img id="avatar-large-index" src="<%= cl_image_path employee.avatar %>" >
           <% end %>

  <div class="card-product-infos">
    <h2><%= employee.first_name %> <strong><%= employee.last_name %></strong></h2>
    <p><%= employee.team.name %></p>

    <small> <p>Location:<%= employee.location%></p></small>


   </div>
</div>
<br>
<% end %>
