<h1>Manage your onboarding</h1>

<div class="container">
  <% @users.each do |employee| %>
    <div class="onboarding-card">
      <div class="onboarded-employee-infos">
          <div class="onboarded-employee-infos-personal">
            <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill class:"avatar-large" %>
            <h2><%= user.first_name %> <strong><%= user.last_name %></strong></h2>
          </div>
          <div>
            <p><%= user.team.name %> </p>
            <p>Rattachement à préciser</p>
            <p>Buddy:<%= user.first_name %>  -  <strong> arrived:12 Sep 2019</strong</p>
          </div>
      </div>
      <div class="onboarding-status-infos">
        <div class="progression-bar">
          <img src="https://banner2.kisspng.com/20180330/ele/kisspng-progress-bar-computer-icons-loading-5abe959ace44f9.4184702615224395788449.jpg" class="progression-bar">
        </div>
        <div class="progression-bar-caption">
          <span>onboarding</span>
          <span> % progression</span>
        </div>
        <a class="btn-blue">checklist</a>
      </div>
    </div>
  <% end %>
</div>


