<h2>Manage your onboarding</h2>
<div class="hr-dashboard">

 <table class="current-onboardings">
      <tr>
        <th class="titles"><i class="fas fa-user"></i>   EMPLOYEE</th>
        <th class="titles"><i class="fas fa-users"></i>   TEAM</th>
        <th class="titles"><i class="fas fa-align-left"></i>   POSITION</th>
        <th class="titles"><i class="fas fa-map-pin"></i>   LOCATION</th>
        <th class="titles"><i class="far fa-calendar-alt"></i>   START DATE</th>
        <th class="titles"><i class="fas fa-tasks"></i>   ONBOARDING PROGRESS</th>
      </tr>

   <% @employees.each do |employee| %>
     <tr>
       <th>
          <div class="employee">
            <% if employee.avatar.url.nil? %>
              <img id="avatar-small-index" src="https://fpcambler.org/wp-content/themes/church-emphasis/assets/dist/img/default-avatar.jpg">
           <% else %>
              <img id="avatar-small-index" src="<%= cl_image_path employee.avatar %>">
           <% end %>
              <%= employee.first_name %> <%= employee.last_name %></th>
          </div>
       <th><%= employee.team.name %></th>
       <th><%= employee.job_title %></th>
       <th><%= employee.location%></th>
       <th><%= employee.arrival_at%></th>
       <th><div class="progessionbar"> <%= render 'shared/progressionbar' %> </div></th>
     </tr>
   <% end %>
 </table>

 </div>
