<h1>Manage your onboarding</h1>

<div class="container">

  <div class="onboarding-cards">
  <% @employees.each do |employee| %>

    <div class="onboarding-card">
      <div class="onboarded-employee-infos">
          <div class="onboarded-employee-infos-personal">
            <% if employee.avatar.url.nil? %>
              <img class="avatar-large" src="https://fpcambler.org/wp-content/themes/church-emphasis/assets/dist/img/default-avatar.jpg" >
            <% else %>
              <img class="avatar-large" src="<%= cl_image_path employee.avatar %>" >
            <% end %>
            <h2><%= employee.first_name %> <strong><%= employee.last_name %></strong></h2>
          </div>
          <div>
            <p><%= employee.team.name %> </p>
            <p>Rattachement à préciser</p>
            <p>Buddy:<%= employee.first_name %>  -  <strong> arrived:12 Sep 2019</strong></p>
          </div>
      </div>
      <div class="onboarding-status-infos">
        <div class="progression-bar">
          <img src="https://banner2.kisspng.com/20180330/ele/kisspng-progress-bar-computer-icons-loading-5abe959ace44f9.4184702615224395788449.jpg" class="progression-bar">
        </div>
        <div class="progression-bar-caption">
          <span>onboarding</span>
          <span> % progression</span>
        </div>
        <a class="btn-blue">checklist</a>
      </div>
    </div>
  <% end %>
  </div>
</div>


