<div class="container">
    <h2>New employee informations</h2>
    <p>Fill in the employee information below to create the onboarding process</p>
    <div id="form-employee">
        <%= simple_form_for [:hr_managers, @employee] do |f| %>
        <div class="personal-infos">
            <div class="row">
                <div class="col">
                    <h5>Personal information</h5>
                    <div class="row">
                        <div class="col">
                            <%= f.input :first_name, label: false, placeholder: 'First name' %>
                        </div>
                        <div class="col">
                            <%= f.input :last_name, label: false, placeholder: 'Last name' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <%= f.input :phone_number, label: false, placeholder: 'Phone number' %>
                        </div>
                        <div class="col">
                            <%= f.input :location, label: false, placeholder: 'Location', input_html: { id: 'autocomplete' } %>
                        </div>
                    </div>
                    <%= f.input :personal_mail, label: false, placeholder: 'Personal email' %>
                </div>
            </div>
        </div>
        <div class="corporate-infos">
            <div class="row">
                <div class="col">
                    <h5>Corporate information</h5>
                    <%= f.input :corporate_mail, label: false, placeholder: 'Corporate email' %>
                    <h6>Team</h6>
                    <div class="teams">
                        <div class="team-name ">
                            <input class="hidden" type="hidden" value="1" name="user[team][]" id="user_team_1">
                            <label class="hidden" for="user_team_1">Product</label>
                        </div>
                        <div class="team-name ">
                            <input class="hidden" type="hidden" value="2" name="user[team][]" id="user_team_2">
                            <label class="hidden" for="user_team_2">HR</label>
                        </div>
                        <div class="team-name ">
                            <input class="hidden" type="hidden" value="3" name="user[team][]" id="user_team_3">
                            <label class="hidden" for="user_team_3">Engineering</label>
                        </div>
                        <div class="team-name ">
                            <input class="hidden" type="hidden" value="4" name="user[team][]" id="user_team_4">
                            <label class="hidden" for="user_team_4">Sales</label>
                        </div>
                        <div class="team-name ">
                            <input class="hidden" type="hidden" value="5" name="user[team][]" id="user_team_5">
                            <label class="hidden" for="user_team_5">Design</label>
                        </div>
                          <div class="team-name ">
                            <input class="hidden" type="hidden" value="6" name="user[team][]" id="user_team_6">
                            <label class="hidden" for="user_team_6">Marketing</label>
                        </div>
                    </div>
                    <%= f.input :job_title, label: false, placeholder: 'Job title' %>

                    <%= f.input :arrival_at, as: :string, required: false, label: false, placeholder: 'Date of arrival', input_html: {class: "datepicker"} %>
                    <%= f.input :slack_account, label: false, placeholder: 'Slack account' %>
                    <h6 class= "mb-2">Assign a buddy</h6>
                    <div>
                     <%= f.input :buddy, collection: User.all_full_name, label: false, label_method: :first, value_method: :second, input_html: {class: "select2"} %>
                    </div>
                    <h6>Hierarchy rank</h6>
                      <div class="teams">

                        <input type="hidden" name="user[hierarchy_rank][]" value="">

                        <div class="team-name-hierarchy">
                            <input class="hidden" type="hidden" value="1" name="user[hierarchy_rank][]" id="user_hierarchy_rank_1">
                            <label class="collection_check_boxes" for="user_hierarchy_rank_1">Head</label>
                        </div>
                        <div class="team-name-hierarchy">
                            <input class="hidden" type="hidden" value="2" name="user[hierarchy_rank][]" id="user_hierarchy_rank_2">
                            <label class="collection_check_boxes" for="user_hierarchy_rank_2">Senior</label>
                        </div>
                        <div class="team-name-hierarchy">
                            <input class="hidden" type="hidden" value="3" name="user[hierarchy_rank][]" id="user_hierarchy_rank_3">
                            <label class="collection_check_boxes" for="user_hierarchy_rank_3">Junior</label>
                        </div>
                       </div>

                    <h6>Contract (PDF)</h6>
                    <div class="upload">
                    <%= f.input :contract_pdf, input_html: { class: 'd-none'}, label_html: { class: 'upload-fill'}, label: 'ðŸ“ Upload' %>
                    </div>
                </div>
            </div>
        </div>
        <%= f.button :submit, class:"btn-green new-employee", value: "Add employee" %>
        <% end %>
    </div>
</div>
