<div class="container">
  <h2>New employee informations</h2>
  <p>Fill in the employee information below, so we can create the onboarding process</p>

  <div>
    <%= simple_form_for [:hr_managers, @employee] do |f| %>
      <%= f.input :first_name, label: 'First name' %>
      <%= f.input :last_name, label: 'Last Name' %>
      <%= f.input :location, label: 'Location' %>
      <%= f.input :corporate_mail, label: 'Corporate email' %>
      <%= f.input :personal_mail, label: 'Personal email' %>
      <%= f.input :department, label: 'Department' %>
      <%= f.input :team, label: 'Team' %>
      <%= f.input :job_title, label: 'Job title' %>
      <%= f.input :phone_number, label: 'Phone_number' %>
      <%= f.input :arrival_at, label: 'Date of arrival' %>
      <%= f.input :slack_account, label: 'Slack account' %>
      <%= f.button :submit, class:"btn-green" %>
    <% end %>
  </div>
</div>

