<h1>Meet your buddy!</h1>
<p>
    <%= current_user.buddy_object.first_name %> will take care of you during the first onboarding week.</p>
<div class="buddy-card">
    <div class="avatar-buddy">
        <img class="avatar-extra-extra-large" src="<%= cl_image_path current_user.buddy_object.avatar %>">
    </div>
    <div class="buddy-infos">
        <h4>
            <%= current_user.buddy_object.first_name %>
            <%= current_user.buddy_object.last_name %>
        </h4>
        <p>
            <%= current_user.buddy_object.job_title %>
        </p>
        <p> <i class="fas fa-map-marker-alt"></i>
            <%= current_user.buddy_object.location.split(", ")[0]; %>
        </p>
    </div>
    <div class="buttons">
        <div>
            <a href="<%= user_path(current_user.buddy_object.id) %>" , class="btn-blue"><i class="far fa-user"></i> Profile</a>
        </div>
        <div>
            <a href="mailto:<%= current_user.buddy_object.email %>" , class="btn-blue"><i class="far fa-comment-alt"></i> Chat </a>
        </div>
    </div>
</div>
<div class="button-next">
    <a href="<%= user_documents_path(current_user.id) %>">
        <i class="fas fa-arrow-right"></i>
    </a>
</div>
