<div id="document-show" class="sidebar-id"></div>
<h1>Documents to sign</h1>
<p>Take time to read & sign the following documents</p>

<div class="sign-document">

  <div >
    <p>Download contract</p>
    <a href="<%= current_user.contract_pdf %>" download, target="-blank">
    <%#= cl_image_tag(current_user.contract_pdf, :width => 200, :height => 250, :crop => :fill) %>
      <img src="<%= cl_image_path(current_user.contract_pdf)[0..-4] + "png" %>" alt="" width="350" height="450" crop ="fill">

    </a>
  </div>

  <div class="transition">
  </div>

  <div class="sign">
    <p id="p-center">Upload signed file</p>
    <%= simple_form_for current_user, method: :patch do |f| %>
    <div class="upload">

      <%= f.input :upload_contrat, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-fill'}, label: 'ðŸ“ Choose file' %>


    </div>
  </div>


</div>

      <%= f.submit "Upload", class: "btn-blue center" %>
      <% end %>

</div>

<%= cl_image_tag("single_page_pdf.png", :width => 200, :height => 250, :crop => :fill) %>


