<h1>Documents to sign</h1>
<p>Take time to read & sign the following documents</p>
<!-- <div class="pdf-files"> -->
    <p> <strong>Contract</strong></p>
    <div class="card-document">
        <a href="<%= current_user.upload_contrat.url %>" download, target="-blank" class="btn-green">
            Donwload
        </a>
        <div class="choose">
          <div class="choose-file">
                <%= simple_form_for current_user, method: :patch do |f| %>
                <%= f.input :upload_contrat, label: false %>
          </div>
                <%= f.submit "upload", class: "btn-blue" %>
                <% end %>
          </div>
        </div>

    <p> <strong>Internal rules</strong></p>
    <div class="card-document">
        <a href="<%= current_user.rules_reglementation_pdf.url %>" download, target="-blank" class="btn-green">
            Donwload
        </a>
        <div class="choose">
          <div class="choose-file">
            <%= simple_form_for current_user, method: :patch do |f| %>
            <%= f.input :upload_internal_rules, label: false %>
            <%= f.submit "upload", class: "btn-blue" %>
            <% end %>
        </div>
          </div>
    </div>
</div>
