<div class="content">
<h1>Your documents</h1>
<h2>Please <%= current_user.first_name %>, </h2>
<p>take time to read the following documents and send them back to your RH (name of the HR manager) once you <strong>have signed them</strong> :) </p>

  <div class="pdf-files">
      <div class="contract-pdf">
        <h2>Your contract</h2>
        <img src="https://p7.hiclipart.com/preview/16/756/862/adobe-acrobat-adobe-indesign-interactive-digital-publishing-tips-techniques-and-workarounds-for-formatting-across-your-devices-adobe-reader-portable-document-format-pdf-icon-symbol-thumbnail.jpg" >
        <a class="btn-blue">upload</a>
          <%= simple_form_for current_user, method: :patch do |f| %>
          <%= f.input :upload_contrat %>
          <%= f.submit "upload" %>
          <% end %>
      </div>
  </div>
  <div class="pdf-files">
    <div class="internal-rules-pdf">
      <h2>Your internal rules</h2>
      <img src="https://p7.hiclipart.com/preview/16/756/862/adobe-acrobat-adobe-indesign-interactive-digital-publishing-tips-techniques-and-workarounds-for-formatting-across-your-devices-adobe-reader-portable-document-format-pdf-icon-symbol-thumbnail.jpg" >
      <a class="btn-blue">upload</a>
        <%= simple_form_for current_user, method: :patch do |f| %>
        <%= f.input :upload_internal_rules %>
        <%= f.submit "upload" %>
        <% end %>
    </div>
  </div>

</div>
