<div class="container">
  <h2>Company details</h2>
  <p>Fill in the company's information carefully </p>
  <div class="form-style">
    <%= simple_form_for [:hr_managers, @company] do |f| %>
      <%= f.input :short_description, as: :trix_editor %>
      <%= f.input :mission, label: 'Mission' %>
      <%= f.input :history, as: :trix_editor %>
      <%= f.input :photo_header, label: 'Main picture' %>
      <%= f.input :photo_description, label: 'Team picture' %>
      <%= f.input :founded_in, as: :string, required: false, label: 'Date of creation', placeholder: 'founded in...', input_html: {class: "datepicker"} %>
      <div class="row">
        <div class="col">
      <%= f.input :linkedin_url, label: 'Linkedin' %>
        </div>
        <div class="col">
      <%= f.input :facebook_url, label: 'Facebook' %>
        </div>
      </div>

      <div class="row">
        <div class="col">
      <%= f.input :github_url, label: 'Github' %>
        </div>
        <div class="col">
      <%= f.input :twitter_url, label: 'Twitter' %>
        </div>
      </div>
      <%= f.button :submit, value: "Submit", class:"btn-green" %>
    <% end %>
  </div>
</div>




