<div class="form-devise">

<h2>LOG IN</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn-green" %>
  </div>
<%#= link_to "Log in via Slack", user_slack_omniauth_authorize_path  %>
<a href="<%= user_slack_omniauth_authorize_path %>"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
<% end %>

<%= render "devise/shared/links" %>
</div>
=======
<!-- https://slack.com/oauth/authorize?scope=identity.basic&client_id=725695763810.725768669843 -->
