<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tribe</title>
    <link rel="icon" type="images/png" href="https://i.ibb.co/XXsMmX1/logo-icon.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="content">
      <% if  current_user.nil? || (current_user.onboarding_status == false)  %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
      <% else %>
        <%= render 'shared/sidebar' %>
      <% end %>

    <% unless current_page?(root_path) %>
      <div class="main-wrapper
        <% if  current_user.nil? || (current_user.onboarding_status == false)  %>
        navbar-exist
      <% else %>
        sidebar-exist
      <% end %>">
     <% end %>
        <%= yield %>
      </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
